body {
    /* background-image: url(assets/nebula_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.marsWeatherCurrent {
    background: rgba(0, 0, 0, 0.4);
}